:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 24px;
  --spacing-xl: 40px;

  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
  
  color: var(--white);
  background-color: var(--grey-900);

  padding: 0 var(--spacing-lg);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--green);
}